@font-face {
  font-family: "lucida_brite";
  src: url('../fonts/LBRITEDI.TTF');
}

@font-face {
  font-family: "lucida_handwrite";
  src: url('../fonts/LHANDW.TTF');
}

@media all and (max-width: 600px) {
  body {
    font-family: "lucida_brite";
    text-align: center;
    font-size: 6px;
  }
}

@media all and (min-width: 600px) {
  body {
    font-family: "lucida_brite";
    text-align: center;
    font-size: 16px;
  }
}



.handwrite {
  font-family: "lucida_handwrite";
}