#lavande > * {
  position: absolute;
  transform-origin: 50% 100%;
  bottom: 0;
  z-index: 5;
}

.pagecenter {
  height: 400px;
  width: 400px;
  position: fixed;
  top: 60%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
}

#enter {
  position: absolute;
  left: 50%;
  width: 2.4em;
  margin-left: -1.7em;
  border: 1px;
  border-color: white;
  border-style: solid;
  font-size: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  text-align: center;
}