@font-face {
  font-family: "lucida_brite";
  src: url('../fonts/LBRITEDI.TTF');
}

@font-face {
  font-family: "lucida_handwrite";
  src: url('../fonts/LHANDW.TTF');
}

@media all and (max-width: 600px) {
  select {
    font-size: 100%;
  }

  .desktop {
    display: none;
  }

  .mobile > select {
    max-width: 50px;
  }

  .fix-font{
    font-family: 'lucida_brite';
    font-size: 6px;
  }

  #heart-text {
    font-family: "lucida_handwrite";
    margin: 0px;
    border-color: #fff;
    color: #fff;
    font-size: 25px;
    text-shadow: 1px 1px 35px #000, 1px 1px 6px #000;
    text-align: center;
    font-style: italic;
    letter-spacing: 1px;
  }
}

@media all and (min-width: 600px) {
  .mobile {
    display: none;
  }
    
  .fix-font{
    font-family: 'lucida_brite';
    font-size: 16px;
  }
  
  #heart-text {
    font-family: "lucida_handwrite";
    margin: 0px;
    border-color: #fff;
    color: #fff;
    font-size: 84px;
    text-shadow: 1px 1px 35px #000, 1px 1px 6px #000;
    text-align: center;
    font-style: italic;
    letter-spacing: 5px;
  }
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.reverse {
  flex-flow: row-reverse wrap;
}

.flex > * {
  max-width: 40em;
  flex-grow: 1;
}

iframe {
  width: 100%;
  min-height: 20em;
  margin-top: 2vw;
  border-color: transparent; 
}

.full {
  width: 100%;
  height: 100%;
}

header {
  position: sticky;
  z-index: 10;
  width: 100%;
  text-shadow: 1px 1px 6px #000;
  background-color: #bda2c3;
  text-transform: capitalize;
}

footer {
  position: sticky;
  z-index: 10;
  width: 100%;
  margin-top: 10px;
  bottom: 0;
  left: 0;
}

.border {
  border-top: 1px solid #D0D1D2;
}

.right {
  text-align: right;
}

table {
  width: 100%;
  border-collapse: collapse;
}

h1{
  font-size: 2.5em;
}

h2{
  text-align: center; 
  color: black; 
}

h3{
  font-size: 1.2em;
}

.title {
  text-align: left;
  color: #fff;
  font-size: 24px;
}

footer > table > tbody > tr > td {
  min-width: 10px;
}

footer > table > tbody > tr > td > a {
  color: #000;
}

footer > table > tbody > tr > td > p {
  margin: 0px;
}

li {
  margin: 10px;
  display: inline;
}

.container {
  position: relative;
  margin: -8px;
}

.center {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
}

.under {
  position: absolute;
  top: 75%;
  width: 100%;
}

.top{
  position: absolute;
  top: 20%;
  width: 100%;
}

.main-img { 
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

.decor {
  position: relative;
  width: 50%;
  height: auto;
  max-height: 500px;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: -5;
}

.smalldecor {
  position: relative;
  width: 30%;
  height: auto;
  min-height: 120px;
  max-height: 200px;
  min-width: 200px;
  max-width: 300px;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: -5;
}

#heart {
  color: #BDA2C3;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.splide__slide {
  opacity: 0.6;
}

.splide__slide.is-active {
  opacity: 1;
}

.Underline {
  color: black; 
  text-decoration: underline;
}

.list{
  display: list-item;
  text-align: left;
}

.img {
  position:relative;
}

.img img {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}