@font-face {
  font-family: "xinwei";
  src: url('fonts/chinese.stxinwei.ttf');
}

@font-face {
  font-family: "xingkai";
  src: url('fonts/chinese.stxingka.ttf');
}

body {
  font-family: "xinwei";
  text-align: center;
  font-size: 18px;
}

#heart-text {
  font-family: 'xingkai';
	margin: 0px;
	border-color: #fff;
	color: #fff;
	font-size: 84px;
	text-shadow: 1px 1px 35px #000, 1px 1px 6px #000;
  text-align: center;
  font-style: italic;
  letter-spacing: 5px;
}

.under-construction {
  font-family: 'xingkai';
  font-size: 84px;
}