@font-face {
  font-family: "xinwei";
  src: url('../fonts/chinese.stxinwei.ttf');
}

@font-face {
  font-family: "xingkai";
  src: url('../fonts/chinese.stxingka.ttf');
}

@media all and (max-width: 600px) {
  body {
    font-family: "xinwei";
    text-align: center;
    font-size: 10px;
  }
}

@media all and (min-width: 600px) {
  body {
    font-family: "xinwei";
    text-align: center;
    font-size: 20px;
  }
}

.handwrite {
  font-family: "xingkai";
}