@media all and (max-width: 800px) {
  #l1 {
    left: 30%;
  }

  #l2 {
    left: 15%;
  }

  #l3 {
    left: 2%;
  }

  #r1 {
    right: 2%;
  }

  #r2 {
    right: 15%;
  }

  #r3 {
    right: 30%;
  }
}

@media all and (min-width: 800px) {
  #l1 {
    left: 40%;
  }

  #l2 {
    left: 32%;
  }

  #l3 {
    left: 24%;
  }

  #r1 {
    right: 24%;
  }

  #r2 {
    right: 32%;
  }

  #r3 {
    right: 40%;
  }
}

#lavande > * {
  position: absolute;
  transform-origin: 50% 100%;
  bottom: 0;
  z-index: 5;
  height: 80vh;
}

.pagecenter {
  height: 400px;
  width: 400px;
  position: fixed;
  top: 60%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  opacity: 0;
}

#enter {
  position: absolute;
  left: 50%;
  width: 2.4em;
  margin-left: -1.7em;
  border: 1px;
  border-color: white;
  border-style: solid;
  font-size: 2em;
  padding-left: 0.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  text-align: left;
}

#grass{
  position: absolute;
  z-index: 10; 
  bottom: 0;
  background-image: url('/media/grass.png');
  height: 20vh;
  width: 100%;
  background-size: contain;
  background-repeat: repeat-x;
}

.star > * {
  transform-origin: 50% 50%;
  animation: rotate 5s linear infinite;
}

.star{
  transform-origin: 50% 50%;
  animation: scale 2s linear infinite;
  object-fit: contain;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes scale {
  from {
    transform: scale(0.25);
  }

  50% {
    transform: scale(0.35);
  }

  to {
    transform: scale(0.25);
  }
}

body {
  margin: 0px;
}