@font-face {
  font-family: "lucida_brite";
  src: url('fonts/LBRITEDI.TTF');
}

@font-face {
  font-family: "lucida_handwrite";
  src: url('fonts/LHANDW.TTF');
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

footer {
  position: sticky;
  z-index: 10;
  width: 100%;
  margin-top: 10px;
  bottom: 0;
  left: 0;
}

.border {
  border-top: 1px solid #D0D1D2;
}

.right {
  text-align: right;
}

table {
  width: 100%;
}

h1 {
  font-size: 50px;
}

h2 {
  text-align: left;
  color: #fff;
}

header > table > tbody > tr > td {
  width: 50%;
}

footer > table > tbody > tr > td {
  min-width: 10px;
}

footer > table > tbody > tr > td > a {
  color: #000;
}

footer > table > tbody > tr > td > p {
  margin: 0px;
}

li {
  margin: 10px;
  display: inline;
}

body {
  font-family: "lucida_brite";
  text-align: center;
}

.container {
  position: relative;
  margin: -8px;
}

.center {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

img { 
  width: 100%;
  height: auto;
  min-height: 550px;
}

#heart-text {
  font-family: 'lucida_handwrite';
	margin-top: 30px;
	margin-bottom: 30px;
	border-color: #fff;
	color: #fff;
	font-size: 84px;
	text-shadow: 1px 1px 35px #000, 1px 1px 6px #000;
  text-align: center;
  font-style: italic;
  letter-spacing: 10px;
}

a {
  color: #fff;
}